* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg {
    background: linear-gradient(to bottom, white, #dfe3ee);
    position: absolute;
    width: 400px;
    height: 550px;
    padding: 20px;
    margin-top: -275px;
    margin-left: -200px;
    top: 50%;
    left: 50%;
}

h1,
h3 {
    margin: 8px 0;
}

a {
    color: steelblue;
}

.all {
    margin: 10px 0;
}

input {
    border-radius: 3px;
    border: 1px solid #888;
}

.textbox {
    width: 100%;
}

.control input {
    margin: 5px 0;
    padding: 10px;
    font-size: 18px;
    width: 99%;
}

#first {
    width: 50%;
}

#name {
    width: 48%;
}

p {
    margin: 10px 0;
    font-size: 20px;
}

.birth {
    width: 90%;
}

.birth input {
    width: 50%
}

.birth a {
    width: 45%;
    float: right;
    text-decoration: none;
    font-size: 12px;
}

.sex {
    margin: 20px 5px;
    font-size: 18px;
}

select {
    padding: 5px;
}

aside {
    font-size: 12px;
    margin: 10px 0;
    width: 80%;
    line-height: 1.5;
}

aside a {
    text-decoration: none;
}

button {
    font-size: 24px;
    color: white;
    background-color: green;
    width: 50%;
    height: 50px;
    border-radius: 10px;
}